<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobart.mp.mapper.EmployeeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hobart.mp.beans.Employee">
        <id column="id" property="id" />
        <result column="last_name" property="lastName" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="salary" property="salary" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, last_name, age, gender, email, salary, create_time
    </sql>

</mapper>
